@font-face {
    font-family: 'AvenirNext';
    src: url("../../src/asset/fonts/AvenirNextLTPro-Regular.otf") format("opentyype");
         font-weight: 400;

}

@font-face {
    font-family: 'AvenirNext';
    src: url("../../src/asset/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
         font-weight: 700;
}
