//Breakpoint
$mobile-breakpoint: 23.4375rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 91.25rem;

//Primary-color
$primary-color1: #000000;
$primary-color2: #FFEFDD;
$primary-color3: #FF6600;
$primary-color4: #FFFFFF;

//Secondaary-color
$secondary-color1: #232940;
$secondary-color2: #D9D9D9;
$secondary-color3: #EB9343;
$secondary-color4: #F7F8F9;